.bga1{
	background-color: #0D4D8A;
}
.cta1{
	color: #0D4D8A;
}

.bga2{
	background-color: #104076;
}
.cta2{
	color: #104076;
}

.bga3{
	background-color: #0B4F8B;
}
.cta3{
	color: #0B4F8B;
}

.bga4{
	background-color: #27AFB1;
}
.cta4{
	color: #27AFB1;
}

.bga5{
	background-color: #0B2358;
}
.cta5{
	color: #0B2358;
}